$orange: #F2620F;
$accent-orange: #8C2703;
$bg-color: #F2EBDF;
$white: #FFF;
$black: #000;
$gray: #8C8C8C;
$input-border: #ced4da;
$input-color: #495057;
$dark: #2B2B2B;
$light-gray: #DBDBDB;
$danger: red;