@font-face {
    font-family: 'AlinmaTheSans-Bold';
    // font-style: normal;
    // font-weight: 400;
    src: url('../assets/fonts/AlinmaTheSans-Bold.otf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'AlinmaTheSans-Plain';
    // font-style: normal;
    // font-weight: 400;
    src: url('../assets/fonts/AlinmaTheSans-Plain.otf'); /* IE9 Compat Modes */
}