@import '../../sass/variables.scss';

.card {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    
    .rate-star-container {
        text-align: center;
        
    }
    .d-grid {
        display: grid;
        .card-button-group {

            .icon-button {
                background-color: transparent;
                padding: 0;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border-color: $black;
                .icon-img {
                    height: 20px;
                }
            }
            .btn-start-date {
                background-color: transparent;
                height: 40px;
                color: $orange;
                border-radius: 20px;
                border-color: $black;
            }
        }
    }
}