@import '../../sass/variables.scss';

.contact-form {
    input.form-control {
        height: 50px;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    textarea.form-control {
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-contact-form-submit {
        width: 100%;
        background-color: $orange;
        border-radius: 30px;
        height: 50px;
        border: none;
    }
}