@import '../../sass/variables.scss';

.job-detail-header {
    .detail-img-container {
        position: relative;
        width: 100%;
        height: 100%;
        .detail-img-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 120px;
            height: 120px;
            border-radius: 10px;
            border: none;
            margin-left: auto;
            margin-right: auto;
            background-color: $bg-color;
            .detail-img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .detail-name {
        color: $orange;
    }
    .detail-created-at {
        border: solid 1px $gray;
        height: 40px;
        line-height: 40px;
        border-radius: 30px;
        max-width: 250px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: $orange;
    }
    .detail-button-group {
        margin: 5px;
        .icon-button {
            width: 40px;
            height: 40px;
            margin: 5px;
        }
        .border-circle {
            border: solid 1px $black;
            border-radius: 50%;
        }
        .icon-img {
            height: 22px;
        }
        .btn-start-date {
            background-color: transparent;
            height: 40px;
            color: $orange;
            border-radius: 20px;
            border-color: $black;
            margin: 5px;
        }
    }
}