@import './sass/variables.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

// ======== Admin Panel Layout Style ========= //
.admin-layout {
  .side-bar {
    position: fixed;
    width: 260px;
    height: 100%;
    background: $white;
    -webkit-box-shadow: -5px 0px 23px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 23px -9px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 23px -9px rgba(0,0,0,0.75);
  }
  .content-bar {
    position: relative;
    float: left;
    width: calc(100% - 260px);
    height: 500px;
    
    .top-nav-bar {
      position: relative;
      text-align: right;
      width: 100%;
      height: 80px;
      background: $white;
      -webkit-box-shadow: 0px 3px 23px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 3px 23px -9px rgba(0,0,0,0.75);
      box-shadow: 0px 3px 23px -9px rgba(0,0,0,0.75);
    }

    .main-content {
      width: 100%;

    }
  }
}